{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}| ChartJs
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center p-4">ChartJs</h1>

		Exemple de ChartJs avec Symfony :

		{{ render_chart(chart) }}

	</div>
	<div class="btn-home d-flex justify-content-center m-4">
		<a href="{{path('app_home')}}" class="btn btn-lg btn-dark">Retour à l'accueil</a>
	</div>
{% endblock %}
